.panel table{
	background-color: black;
	color:darkgray;
}
.panel-body{
		background-color: black;
}
.user{
	background-color: gray;
	color: ghostwhite;
	
}

.panel-body-1{
		background-color:white;	
		color:black;
	
}



